body{

    background-color: #050505;
    color: white;
    
}

.Home_image{
    background-image: url('../Images/Home_Vigo_landscape.jpg');
}

.Header_image {
    
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  

.Header_image .text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}

[TextType=shadow]{

    text-shadow: 2px 2px 8px #050505;

}

div{

    padding: 2%;
}

.jumbotron{
    
    padding: 2%;
}

.navbar-collapse{

    padding: 0%;

}