$me_PageBackgroundColor: #ffffff;
$me_PageTextColor: #505050;
$me_PageTextColorAlt: #d4d4d4;
$me_TextBackgroundColor: #505050 ;
$me_Padding_min: 1%;
$me_Padding_med: 2%;
$me_Padding_high: 5%;
$me_Padding_max: 10%;


.padding_min{

    padding: $me_Padding_min;

}

.padding_med{

    padding: $me_Padding_med;
    
}

.padding_high{

    padding: $me_Padding_high;
    
}

.padding_max{

    padding: $me_Padding_max;
    
}

.center{

    text-align: center;
}

body {

    background-color: $me_PageBackgroundColor; 
    color: $me_PageTextColor;

}

h1{
    
    .TextWithBackground {

        padding: $me_Padding_min;
        background-color: $me_TextBackgroundColor;
        color: $me_PageTextColorAlt;

    }

}

p{
    @extend h1;
    color: $me_PageTextColor;
}

.content{

    max-width:1400px;
    margin-left:auto;
    margin-right:auto;

}

div.shape_white {

    display: block;
    margin: 16px;
    padding: 16px;
    background-color: $me_PageBackgroundColor;
    color: $me_PageTextColor;
    border-color: black;
    border-style: solid;
    box-shadow:  5px 10px 18px #888888;
}

.shape_image {

    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    display: block;

  }

