$me_PageBackgroundColor: #050505;
$me_PageTextColor: #d1d1d1;
$me_PageTextColorAlt: #272727;
$me_TextBackgroundColor: #dddddd ;

$me_Padding_min: 1%;
$me_Padding_med: 2%;
$me_Padding_high: 5%;
$me_Padding_max: 10%;

body {

    background-color: $me_PageBackgroundColor; 
    color: $me_PageTextColor;

}

h1{
    
    .TextWithBackground {

        background-color: $me_TextBackgroundColor;
        color: $me_PageTextColorAlt;

    }

}

p{
    @extend h1;
}

.content{

    max-width:1400px;
    margin-left:auto;
    margin-right:auto;

}

.padding_min{

    padding: $me_Padding_min;

}

.padding_med{

    padding: $me_Padding_med;
    
}

.padding_high{

    padding: $me_Padding_high;
    
}

.padding_max{

    padding: $me_Padding_max;
    
}

.center{

    text-align: center;
}

div.shape_white {

    display: block;
    margin: 16px;
    padding: 16px;
    background-color: white;
    color: $me_PageTextColorAlt;
    border-color: white;
    border-style: solid;

    box-shadow: 4px 6px 14px #f3f3f398;
}



